html {
  height: 100%;
  box-sizing: border-box;
}

body{
    background-color: cornflowerblue;
 
}

#title{
    text-align: center;
  background-color: #efefef;
/*   color: black;*/
}

#burger-list{
  border-style: solid;
  background-color: aqua;
  margin-top: 1%;
}

#eaten-list{
  border-style: solid;
  background-color: aqua;
  margin-top: 1%;
}


.picture-colunm{
/*  border-style: solid;*/
  text-align: center;
/*  margin-top: 5%;*/
  
}

img{
  width: 200px;
  height: 200px;
}

.devoured-colunm{
/*  border-style: solid;*/
}

/*
.clearfix {
  overflow: auto;
}
*/

#columns-title{
  text-align: center;
}

.burgers-form{
/*  margin-top: 5%;*/
}

#submit-burger{
  text-align: center;
  margin-bottom: 10%;
}

.footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;

}